<%-include('partials/_header');%>


<div class="col-md-10 offset-md-1    ">
    <div class="card">
        <div class="card-body">
            <form action="/edit/<%= usuario.cedula %>" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre " class="form-control" value="<%= usuario.nombre %>">
                </div>
                <div class="form-group">
                    <input type="text"x name="cedula" placeholder="Cedula " class="form-control" value="<%= usuario.cedula %>" >
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" placeholder="Telefono " class="form-control" value="<%= usuario.telefono%>">
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" placeholder="Direccion " class="form-control" value="<%= usuario.direccion %>">
                </div>
                <div class="form-group">
                    <input type="text" name="fechaNacimiento" placeholder="Fecha de naciminento " class="form-control" value="<%= usuario.fechaNacimiento%>">
                </div>

                <div class="form-group">
                    <input type="text" name="genero" placeholder="Genero" class="form-control" value="<%= usuario.genero %>" >
                </div>
                <div class="form-group">
                    <input type="text" name="cliente" placeholder="Cliente " class="form-control" value="<%= usuario.cliente %>" >
                </div>
                <div class="form-group">
                    <input type="text" name="sede" placeholder="Sede " class="form-control" value="<%= usuario.sede %>" >
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
            </form>
        </div>
    </div>
</div>

<%-include('partials/_footer');%>