<%-include('partials/_header');%>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Fecha de nacimiento</th>
                    <th>Edad</th>
                    <th>Genero</th>
                    <th>Cliente</th>
                    <th>Sede</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>  
                </thead>
                <tbody>
                    <% for(var i = 0; i < usuarios.length; i++ ){ %>
                        <tr>
                            <td> <%= usuarios[i].nombre %></td>
                            <td> <%= usuarios[i].cedula %></td>
                            <td> <%= usuarios[i].telefono%></td>
                            <td> <%= usuarios[i].direccion %></td>
                            <td> <%= usuarios[i].fechaNacimiento%></td>
                            <td> <%= usuarios[i].edad %></td>
                            <td> <%= usuarios[i].genero%></td>
                            <td> <%= usuarios[i].cliente %></td>
                            <td> <%= usuarios[i].sede %></td>
                            <td>
                                <a href="/edit/<%= usuarios[i].cedula %>" class="btn btn-info">Editar</a>
                                
                            </td>
                            <td>
                                <a href="/delete/<%= usuarios[i].cedula %>" class="btn btn-danger">Eliminar</a>
                                
                            </td>
                        </tr>
                    <% } %>    
                </tbody>
                
            </table>
        </div>
    </div>
</div>
<script src="../utilities/utilities.js"></script>
<%-include('partials/_footer');%>
